#Arquivo de configurações do servidor apache

#Configuração para ocultar a exibição da listagem de diretórios e arquivos do site. "Options +indexes" permite a exibição.
Options -indexes

#Habilita a reescrita para definir urls amigáveis.
RewriteEngine On

#Informa o diretório base do projeto.
RewriteBase /blog

#Define que o redirecionamento não se aplicará caso o arquivo, diretório ou link simbólico não seja de mesmo nome.
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l

#Define que todas as requisições sejam armazenadas em uma variável.
RewriteRule ^(.*)$ index.php/$1
